@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: #0D1B2A;
    margin: 0;
    overflow-x: hidden;
  }

  header {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #ebd7b9;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
  }

  .header img {
    height: 100px;
    margin-right: 20px;
  }

  .header .college-name {
    color: #0D1B2A;
  }

  .header .college-name h1 {
    font-size: 24px;
    margin: 0;
    text-align: center;
  }

  .header .college-name h2 {
    font-size: 18px;
    margin: 0;
    font-weight: normal;
    text-align: center;
    padding-top: 10px;
  }

  .main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }

  .main h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }

  .login-box {
    background-color: rgba(255, 255, 255, 0.9);
    color: #0D1B2A;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }

  .login-box h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  button {
    background-color: #0B0B45;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
  }

  button:hover {
    background-color: #e6c200;
  }

  .login-links {
    margin-top: 15px;
    text-align: center;
  }

  .login-links a {
    color: #0D1B2A;
    text-decoration: none;
    margin: 0 10px;
  }

  .login-links a:hover {
    text-decoration: underline;
  }